body {
  font-family: helvetica,sans-serif;
  font-size: 16px;
}

.jumbotron {
  background-color: #fefefe;
  margin-top: 60px;
}

.jumbotron p {
  font-size: 16px;
}

.wrapper {
  padding: 10px 100px 20px;
}

.speecharea {
  max-width: 100%;
  min-height: 300px;
  margin: 30px auto;
  background: #fefefe;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

.btn {
  margin-right: 10px;
  width: 120px;
  height: 40px;
  border-radius: 6px;
  font-size: 16px;
}

.btn-default {
  background-color: #4ab98b;
  color: #fefefe;
}

.btn-default:hover {
  background-color: #137d51;
  color: #fefefe;
}

.btn-inverse {
  border: 1px solid #4ab98b;
  color: #4ab98b;
}

.btn-inverse:hover {
  border: 1px solid #137d51;
  color: #137d51;
}

.btn-default:active, .btn-inverse:active {
  background-color: #137d51;
  color: #fefefe;
}
